.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    justify-items: center;
}

.cart-container {
    padding: 23px;
    background-color: bisque;
}

.cart-container a{
    text-decoration: none;
}

.btn-proceed{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
    height: 56px;
    color: white;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background: #F90;
}