.cart p {
    color: #2A414F;
}

.cart {
    position: sticky;
    top: 25px;
    background-color: bisque;
}

.btn-clear-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #FF3030;
    width: 100%;
    margin: 0 auto;
    height: 56px;
    color: white;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    border: none;
    cursor: pointer;
}